@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap');
/* https://fonts.google.com/featured/Plex */
* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}
body {
    background-image: linear-gradient(0deg, rgb(0, 91, 182) 0%,dodgerblue 30%);
    padding-top: .5rem;
    width: 100%;
    height: 100%;
    margin: 0px;
}
#title {
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    margin: auto;
    width: max-content;
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
    color: white;
}
footer {
    background-color: white;
    text-align: center;
    width: 100%;
    /* margin-top: 10px; */
    padding: 1px; 

}
.articles article .article_content {
    display: none;
}
.articles article {
    background-color: dimgray;
    padding: 1rem;
    display: flex;
    width: 150px;
    min-width: 150px;
    transition: 0.75s;
    flex-direction: column;
    margin: 120px;
    border-radius: 15px;
    height: 150px;
    box-shadow: -0.5rem 0 3rem black;
    z-index: 5;
}
#about #scroll{
    color: white;
    text-align: center;
    padding: 1rem;
}
#about {
    height: 100vh;
}
.articles {
    display: flex;
    color: lightgray;
    justify-content: center;
    margin: auto;
    height: 70vh;
}
header {
    font-family: 'IBM Plex Serif', serif;
    font-size: 20px;
    font-style: italic;
}
.articles article:hover .article_content {
    display: inherit;
}

.articles article:hover {
    width: 100%;
    height: 100%;
    box-shadow: -1rem 0 3rem black;
}
.articles article:hover~article {
    transform: translateX(100px);
}
.articles article:not(:first-child)
{
    margin-left: -100px;
}
.stickytest {
    height: 300vh;
    width: 100%;
    background-image: url('./images/yosemite.jpg');
    background-attachment: fixed;
    background-size: auto 300vh;
    color: dimgray;
    padding: 2rem;
}
.stickytest h1 {
    margin: auto;
    width: max-content;
}
.stickytest_article {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    width: max-content;
}
.stickytest_article date {
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
}
/* .stickytest {
    box-shadow: inset black 0px 0px 1rem;
} */