@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap');
#serifitalic {
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
}
#serif {
    font-family: 'IBM Plex Serif', serif;
}
#mono {
    font-family: 'IBM Plex Mono', monospace;
}
#monoitalic {
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
}
.fonter p {
    font-size: 30px;
}
.fonter .declaration {
    font-size: 1rem;
}
.fonter {
    border: 1px lightgray dashed;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
}
.fonter .declaration {
    color: dimgray;
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
}
#fonts {
    list-style-type: none;
    display: inline;
    width: max-content;
}
#plexlink a {
    font-family: 'IBM Plex Serif', serif;
    color: blue;
}
h1 {
    font-family: 'IBM Plex Serif', serif;
}
#description {
    margin-left: 15px;
}